.footer{
    padding-top: 60px;
    padding-bottom: 30px;
}
.footer .single-line-paragraph {
    white-space: nowrap;
    color: var(--text-color);

  }
.logo2{
    font-size: 2.5rem;
    color: #9400FF;
    font-family: "Architects Daughter", cursive;
  }
  

.footer .logo img{
    width: 200%;
    margin-bottom: 1rem;
}


.social__links span a{
    text-decoration: none;
    color: #9400FF;
    font-size: 1.2rem;
}

.footer_link-title{
    margin-top: 10rem;
    color: var(--heading-color);
    margin-bottom: 1rem;
}

.footer__quick-links li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;

}

.footer__quick-links h6 span i{
    
    padding-right: .5rem;
    color: var(--secondary-color);
    font-size: 1.1rem;
    
}

.copyright{
    color: var(--text-color);
    font-size: 1rem;
    text-align: center;
    padding-top: 5;
}
